/* sytle sheet */
/* Use at least 5 differt CSS selectors
within  which you must include at least 5 different CSS properties*/

/* When Homepage is fully loaded  */
body {
    background: white;
    height:200vh;
}

header{
    z-index:2;
    position: fixed;
    height:7.5vh;
    width:100vw;
    background: white;
}

.app {
    z-index:1;
    position: relative;
    height:100%;
}

main{
    height:100%;
}

.page-container {
    /*position: relative;*/
    background: #f8f8f8;

    height:85vh;
    width: 92.5vw;
    margin: 0vh 3.75vw 7.5vh 3.75vw;
}

/*Menu sideNav*/

.menubtn-container #menu-txt{

    z-index:2;
    position: fixed;
    float:left;
    top: 45vh;
    left:-1vw;

    color:black;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5em;


    transform: rotate(-90deg);
    -webkit-transform-origin: 50%  55%;

    cursor:pointer
}

/*For the mobile size*/
#menu-toggle{
    position:relative;
    float:right;
    margin-top: -3.5vh;
    margin-right: 5vw;
    font-size: 1.5rem;
}


.sidenav {
    z-index: 6;

    height:100vh;
    width: 0;
    position: fixed;

    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.menu-container ul{
    margin:30vh ;
    list-style-type: none;

    border-left:solid;
    border-color: #C70039;
    border-width:10px;
}

.sidenav a {
    text-decoration: none;
    text-align:left;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.2em;


    color: black;
    display: block;
}

.sidenav a:hover {
    color: gray;
}

.sidenav .closebtn {
    position: absolute;
    top: 8.5vh;
    right: 10vw;
    font-size: 2.5rem;
}


/*Menu sideNav END*/

/*Intro Section*/
#intro{
    height:85vh;
    width: 92.5vw;
    position:fixed;
}

div #hello{
    z-index:4;
    float:right;
    /*width to be dinamically changed on scroll down event*/
    background:yellow;
    width:80%;
    height:85vh;
}

#hello h1{
    /*add style?*/
    position:absolute;
    margin: 21vh 2vw 21vh 4vw;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900;
}

/*section.preambule*/
div #preambule{
    z-index:5;
    background: #C70039;
    float:left;

    /*width to be dinamically changed on scroll down event*/
    width:20%;
    height:85vh;
}

#preambule p{
    display:none;
    position:absolute;
    text-align:left;
    font-size: 2rem;
    font-weight: 700;
    margin:35vh 50vw 5vh 10vw;

}

/*Intro Section END*/



/*Media Queries*/

/*Mobile screen*/
@media only screen and (max-width: 768px){
    .padding {
        padding:5vh 10vw;
    }

    header {
        height:8.5vh;
        background: transparent;
        transition:0.5s;
    }

    .page-container {
        height:100vh;
        width:100vw;

        margin:0;
        transition:0.5s;
    }

    .sidenav {
        height:100vh;
    }

    .sidenav a {
        font-size: 2rem;
    }

    .menu-container ul{
        margin: 30vh 7vw;
    }

    #intro{
        height:100vh;
        width: 100vw;
        position:fixed;
    }

    div #hello{
        width:100%;
        height:100vh;
    }
    div #preambule{
        width:0%;
        height:100vh;
    }

    #preambule p{
        font-size: 2rem;
        margin: 15vh 10vw 5vh 5vw;
    }
}

.menubtn-mobile-container #menu-txt{

    z-index:2;
    position: relative;
    margin:auto;
    float:right;

    color:black;
    font-size: 1rem;
    font-weight: 900;

    cursor:pointer
}

/*Media Queries END*/

/*Remove the scrollbar from Chrome, Safari, Edge and IE
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
  -ms-overflow-style: none !important;
}

/*Remove the scrollbar from Chrome, Safari, Edge and IE END*/