{% extends "layout.html" %}
{% block main %}
                <!--Intro page hiding preambule-->
                
                    <!--Intro page hiding preambule-->
                    <section id="intro-services">
                        <!--First Web page article begning with a fluid picture-->
                        <div id="hello-services" style="width:40%; height:100%; float:left; background-color: #C70039;">
                            <!--Write some heading-->
                            <h1>Lorem<br>
                            <i>Services</i><br>
                            dolor sit<br>
                            amet.</h1>
                        </div>
                    </section>
                    <!--Add written stuff down here-->
                    <div class="row">
                        <!--More stuff, maybe a list with some anchor tags-->
                        <section class="col-12 col-md-5 col-order-2">
                            <div class="content-container" style="background-color:yellow;">
                                <ul>
                                    <h4 style="color: black">Bootstrap</h4>
                                    <li style="color:black; border:none;">
                                    The site Integrates one or more features from Bootstrap into your site.
                                    Bootstrap is a popular library (that comes with lots of CSS classes and more)
                                    via which you can beautify your site. See Bootstrap’s documentation to get started.</li>
                                </ul>
                            </div>
                        </section>
                        <div class="services-container col-12 col-md-7 col-order-1">
                            <div class="padding">
                                <h2>Services<br>
                                Homepage project<br>
                                </h2>
                                <p>Create simple homepages that introduce yourself,
                                your favorite hobby or extracurricular, or anything else
                                of interest to you as long as it contains:
                                At least four different .html pages, at least one of which is index.html (the main page of your website), and it should be possible to get from any page on your website to any other page by following one or more hyperlinks.
                                </p>
                            </div>
                        </div>
                    </div>
{% endblock %}                
