{% extends "layout.html" %}
{% block main %}
                    <!--Intro page hiding preambule-->
                    <section id="intro-about">
                        <!--First Web page article begning with a fluid picture-->
                        <div id="hello" style="width:40%; height:100%;">
                            <!--Write some heading-->
                            <h1>Lorem<br>
                            <i>About</i><br>
                            dolor sit<br>
                            amet.</h1>
                        </div>
                    </section>
                    <!--Add written stuff down here-->
                    <div class="row">
                        <div class="welcome-container col-12 col-md-7 col-order-1">
                            <div class="padding">
                                <h2>About<br>
                                Homepage project<br>
                                </h2>
                                <h3>CS50x <i>web</i></h3>
                                <p>The internet has enabled incredible things: we can use a search engine to
                                research anything imaginable, communicate with friends and family members around
                                the globe, play games, take courses, and so much more. But it turns out that nearly
                                all pages we may visit are built on three core languages, each of which serves a slightly
                                different purpose.</p>
                            </div>
                        </div>
                        <!--More stuff, maybe a list with some anchor tags-->
                        <section class="col-12 col-md-5 col-order-2">
                            <div class="content-container">
                                <ul>
                                    <h4>Tools</h4>
                                    <li>HTML, or HyperText Markup Language, which is used to describe the content of websites.</li>
                                    <li style="text-align:right; border-right:solid; border-left:none; padding-right: 4px;">CSS, Cascading Style Sheets, which is used to describe the aesthetics of websites.</li>
                                    <li>JavaScript, which is used to make websites interactive and dynamic.</li>
                                </ul>
                            </div>
                        </section>
                    </div>
{% endblock %}