{% extends "layout.html" %}
{% block main %}
                    <!--Intro page hiding preambule-->
                    <section id="intro-about">
                        <!--First Web page article begning with a fluid picture-->
                        <div id="hello" style="width:40%; height:100%;">
                            <!--Write some heading-->
                            <h1>Lorem<br>
                            <i>Contact us!</i><br>
                            dolor sit<br>
                            amet.</h1>
                        </div>
                    </section>
                    <!--Add written stuff down here-->
                    <div class="row">
                        <div class="welcome-container col-12 col-md-7 col-order-1">
                            <div class="padding">
                                <h2>Contact<br>
                                Homepage project<br>
                                </h2>
                                <h3>CS50x <i>web</i></h3>
                                <form>
                                    <div class="form-group">
                                      <label for="exampleFormControlInput1">Email address</label>
                                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleFormControlTextarea1">Type here</label>
                                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                                    </div>
                                  </form>
                            </div>
                        </div>
                    </div>
{% endblock %}
