{% extends "layout.html" %}
{% block main %}
                    <!--Intro page hiding preambule-->
                    <section id="intro">
                        <!--Preambule text with some icon-->
                        <div id="preambule">
                            <!--Write some preambule-->
                            <p id="preambule-txt"><span style="color:white; border-bottom:solid; border-color:yellow; padding:5px">Welcome to CS50x web.</span><br>
                            <span style="color:white; font-size:1.5rem;" ><i>"Build a simple homepage using<br> HTML, CSS, and JavaScript."</i></span><br>
                            This is the homepage problem set! Enjoy the power of HTML, Js, CSS and a bit of Bootstrap!</p>
                        </div>
                        <!--Hello CS50 Web section-->
                        <!--Moves to the roght on scroll-->
                        <div id="hello">
                            <!--Write some heading-->
                            <h1>Lorem<br>
                            ipsum<br>
                            dolor sit<br>
                            amet.</h1>
                        </div>
                    </section>
{% endblock %}
