<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet">

        <title>Homepage</title>
        <!--The webpage should contain at least four different .html pages, at least one of which is index.html (the main page of your website),
        and it should be possible to get from any page on your website to any other page by following one or more hyperlinks.
        Use at least ten (10) distinct HTML tags besides <html>, <head>, <body>, and <title>.
        Using some tag (e.g., <p>) multiple times still counts as just one (1) of those ten!
        Integrate one or more features from Bootstrap into your site. -->
    </head>
    <body class="page-home loaded">
        <!--Display while loading and disapear after the page content is ready-->
        <div id="loader">
            <!--Include some loading icon-->
        </div>
        <!--Let's use a header tho help organize things better on diferent screen sizes-->
        <header id="header">
            <!--Some logo anchor tag (maybe)-->
            <div class="navbar-brand">
                <!--icon to be added-->
                <a href="#"><span class="txt">Lorem Ipsum</span></a>
            </div>
            <div class="menubtn-container d-none d-md-block">
                <!--icon to be added-->
                <span id="menu-txt" onclick="openNav()">menu</span>
            </div>
            <div class="menubtn-mobile-container d-md-none d-block">
                <!--icon to be added-->
                <span id="menu-toggle" onclick="openNav()">&#9776</span>
            </div>
        </header>
        <!--Actual page-->
        <div class="app">
            <!--main page div and container class-->
            <div class="page-container">
                <!--Left-side hidden menu content-->
                <div id="menu" class="sidenav">
                    <div class="menu-container">
                        <!--Anchors to the other pages-->
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <ul>
                            <li><a href="about.html">About.</a></li>
                            <li><a href="services.html">Services.</a></li>
                            <li><a href="contact.html">Contact.</a></li>
                        </ul>
                    </div>
                </div>
                <!--Page unique content-->
                <main class="page">
                    {% block main %}
                    {% endblock %}
                </main>
            </div>
        </div>
        <!--Set some footer to show up when end of page is reached-->
        <footer class="footer"></footer>
    </body>
    <!--Move to separate file later-->
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
</html>
